.hide{
	display: none;
}
.show{
	display: block;
}
.clearfix{
	overflow: hidden;
	zoom: 1;
}
/*伪类清除，在布局的后面设置一个看不见的布局，在它上面挂载清除属性*/
.clearfix:after{
	content: '.';
	visibility: hidden;
	height: 0;
	clear: both;
}
.border-1{
	border: 1px solid #ccc;
}
.top{
	width: 100%;
	height: 40px;
	background: #333;
	color: rgb(164,176,148);
	font-size: 12px;
}
.top-left{
	float: left;
	margin: 12px 0 0 65px;
}
.top-left li{
	float: left;
	border-right: 2px solid #424242;
	padding: 0 6px;
}
.top-left li:first-child{
	padding-left: 0;
}
.top-left li:last-child{
	border-right: none;
}
.top li a{
	color: rgb(164,176,148);
}
.shopCar{
	width: 120px;
	text-align: center;
	float: right;
	height: 40px;
	padding: 0 14px;
	margin-right: 61px;
	line-height: 40px;
	background: #424242;
}
.goods{
	width: 300px;
	height: 300px;
	position: absolute;
	top: 40px;
	right: 61px;
	background: white;
	text-align: center;
	box-shadow: 0 0  10px #ccc;
	z-index: 999;
}
.top-right{
	float: right;
	margin: 12px 24px 0 0;
}
.top-right li{
	float: left;
	border-right: 2px solid #424242;
	padding: 0 6px;
	/*margin-top: 12px;*/
}
.top-right li:last-child{
	border-right: none;
}
.top-right li:first-child{
	padding-left: 0;
}
/*header开始*/
.main{
	width: 1226px;
}
header{
	width: 1226px;
	height: 100px;
	margin: 0 auto;	
}
.imgBox{
	width: 235px;
	height: 100px;
	float: left;
	/*display: flex;*/
	/*justify-content: center;*/
	/*align-items: center;*/
}
.imgBox #logo{
	/*display: block;*/
    width: 55px;
    height: 55px;
    margin-top: 22px;
}
.imgBox #ad{
	/*display: block;*/
    width: 163px;
    height: 66px;
    float: right;
    margin-top: 17px;
}
.nav{
	float: left;
	height: 100px;
	line-height: 100px;
}
.nav li{
	float: left;
	padding: 0 10px;
}
.search{
	float: right;
	margin-top: 24px;
	position: relative;
}
.search .ser1{
	width: 244px;
	height: 50px;
	float: left;
	position: relative;
}
.search .ser1 .hot{
	position: absolute;
	right: 10px;
	bottom: 14px;	
	color: rgb(117,117,177);
}
.search .ser1 .hot a{
	background: rgb(238,238,238);
	font-size: 13px;
	margin-right: 5px;
}
.search .ser1 input{
	width: 244px;
	height: 50px;
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
	outline:none;
}
.search .ser2{
	width: 53px;
	height: 50px;
	float: left;
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
	line-height: 50px;
	text-align: center;
	border-left: none;
}
.search .keywordList{
	z-index: 999;
	background: white;
	position: absolute;
	left: 0;
	top: 50px;
	width: 244px;
	height: auto;
	border: 1px solid red;
	border-top: none;
	box-sizing: border-box;
	padding: 0 10px;
	line-height: 30px;
	font-size: 13px;
}
.search .keywordList span{
	float: right;
	color: #b0b0b0;
}
/*二级菜单开始*/
.select{
	width: 100%;
	height: 230px;
	background: #fff;
	box-shadow: 0 0 10px #ccc;
	position: absolute;
	z-index: 1;
}
.select ul{
	width: 1226px;
	height: 230px;
	margin: 0 auto;
}
.select ul li{
	float: left;
	width: 203px;
	margin-top: 35px;
	height: 100px;
	margin-top: 35px;
	font-size: 14px;
	text-align: center;
	border-right: 1px solid #ccc;
}
.select ul li img{
	width: 160px;
	height: auto;
}
.select ul li h4{
	line-height: 30px;
}
.select ul li p{
	color: orangered;
}
.select ul li:last-child{
	border-right:none;
}

/*轮播*/
.main{
	width: 1226px;
	margin: 0 auto;
}
.banner{
	width: 1226px;
	height: 460px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.banner > img{
	width: 1226px;
	height: 460px;
}
.navL{
	width: 236px;
	height: 100%;
	background: rgba(0,0,0,.6);
	position: absolute;
	left: 0;
	top: 0;
}
.navL li{
	width: 100%;
	height: 42px;
	font-size: 12px;
	line-height: 42px;
}
.navL li:first-child{
	margin-top: 24px;
}
.navL li a{
	color: #fff;
	margin-left: 28px;	
}
.navL li span{
	float: right;
	margin-right: 28px;
}
.navHide{
	height: 460px;
	position: absolute;
	left: 235px;
	top: 0;
	z-index: 10;
}
.navHide .ulHide{
	background: white;
	position: absolute;
	left: 0;
	top: 0;
	/*width: 798px;*/
	height: 460px;
	border: 1px solid #e0e0e0;
	box-shadow: 0 0 10px #ccc;
}
.navHide .ulHide li{
	width: 266px;
	height: 76px;
	position: relative;
	float: left;
}
.navHide .ulHide li img {
	width: 40px;
	height: 40px;
	position: absolute;
	top: calc(50% - 20px);
	left: 20px;
}
.navHide .ulHide li p{
	position: absolute;
	top:calc(50% - 6px);
	left: 70px;
	font-size: 12px;
}
.navHide .ulHide li div.buy{
	width: 58px;
	height: 22px;
	position: absolute;
	top:calc(50% - 15px);
	right: 10px;
	border: 1px solid orange;
	text-align: center;
	line-height: 22px;
}
.banner .round{
	width: 100px;
	height: 10px;
	position: absolute;
	right: 35px;
	bottom: 25px;
	z-index: 10;
}
.banner .round li {
	width: 10px;
	height: 10px;
	float: left;
	border-radius: 50%;
	background: #342416;
	margin-left: 10px;
    opacity: 0.8;
}
.banner .round li:hover{
	background: orange;
}
.banner .direc{
	width: 41px;
	height: 69px;
	position: absolute;
	font-size: 36px;
	color: #fff;
	top: calc(50% - 35px);
	text-align: center;
	line-height: 69px;
	user-select: none;
}
.banner .direc:hover{
	background: #000;
	opacity: 0.5;
}
.banner .direcL{
	left: 235px;
}
.banner .direcL:hover{
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.banner .direcR{
	right: 0;
}
.banner .direcR:hover{
    border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
.navHide .ulHide1{
	width: 266px;
}
.navHide .ulHide2{
	width: 532px;
}
.navHide .ulHide3{
	width: 798px;
}
/*迷你导航*/
.navB{
	width: 1226px;
	height: 170px;
	margin-top: 14px;
	box-sizing: border-box;
}
.navB > li{
	float: left;
	margin-right: 15px;
}
.navB > li:first-child{
	margin-right: 14px;
}
.navB > li:last-child{
	margin: 0;
}
.navB .minlink{
	width: 234px;
	height: 170px;
	background:#5f5750;	
	text-align: center;
}
.navB .minlink a{
	font-size: 12px;
	color: #Cfcdcb;
	padding-top: 20px;
	width: 72px;
}
.navB .minlink i {
	margin-top: 10px;
}
.navB .minlink a:hover{
	color: white;
}

.navB .minlink li{
	width: 72px;
	height: 75px;
	border-right: 1px solid #665e57;
	float: left;
	margin-right: 5px;
	margin-top: 5px;
}
.navB .minlink li:nth-child(3n){
	border-right: none;
}
.minlink i{
	display: block;
	width: 72px;
	font-size: 24px;	
}
.minlink .line{
	width: 70px !important;
	height: 0px !important;
	margin: 2px !important;
	border-top: 1px solid #665e57;
}
.navB li img{
	width: 316px;
	height: 170px;
}

/*明星产品*/
.starPro{
	margin: 40px 0 80px 0;
	width: 1226px;
	height: 410px;
	position: relative;
	overflow: hidden;
}
.starPro h2{
	font-size: 13px;
}
.starPro h3{
	font-size: 12px;
}
.starPro h1{
	font-size: 22px;
	margin-bottom: 10px;
}
.starPro p{
	color: orange;
}
.starPro .more{
	position: absolute;
	top: 40px;
	right: 0;
	cursor: pointer;
}
.more .prev,.next{
	float: left;
	width: 35px;	
	height: 20px;
	border: 1px solid rgb(244,244,244);
	text-align: center;
	line-height: 20px;
	color: #E0E0E0;	
}

.prev:hover,.next:hover{
	color: black;
}
.starPro ul li{
	float: left;
	height: 340px;
	width: 234px;
	
}
.starPro li img{
	width: 160px;
	height: 160px;
	margin: 40px 0 0 20px;
}
.scroll{
	
	height: 340px;
	position: absolute;
	/*left: 0;*/
	top: 90px;
}
.scroll li{
	border-top: 1px solid rgb(255,172,19);
	margin-right: 14px;
	text-align: center;
	background: #fafafa;
}
.scroll li:nth-of-type(5n){
	margin-right: 0;
}
.scroll li:nth-of-type(2),.scroll li:nth-of-type(7){
	border-top: 1px solid rgb(131,196,78);
}
.scroll li:nth-of-type(3),.scroll li:nth-of-type(8){
	border-top: 1px solid #2196f3;
}
.scroll li:nth-of-type(4),.scroll li:nth-of-type(9){
	border-top: 1px solid #e53935;
}
.scroll li:nth-of-type(5),.scroll li:nth-of-type(10){
	border-top: 1px solid #00c0a5;
}


/*内容*/
.sce{
	background: #f5f5f5;
}
.proList {
	width: 1226px;
	margin: 0 auto;
	text-align: center;
}
.list-YJ {
	overflow: hidden;
	zoom: 1;
}
.list-YJ > .ding{
	margin-top: 50px;
	height: 40px;
}
.ding h1{
	font-size: 20px;
	float: left;
}
.list-YJ .ding > a{
	float: right;
	font-size: 20px;
}
.list-YJ .ding > a:hover{
	color: orange;
}
.list-YJ li{
	float: left;
	width: 234px;
	height: 300px;
	background: white;
	margin-left: 14px;
	margin-bottom: 14px;
}
#gao{
	margin-left: 0;
}
.proList li:hover{
	margin-top: -2px;
	margin-bottom: 16px;
	box-shadow: 0 0 20px rgb(170,170,170);
	cursor: pointer;
}

.list-YJ li img{
	width: 160px;
	height: 160px;
}
#gao{
	width: 234px !important;
	height: 614px !important;
}
#gao,#gao img{
	width: 234px;
	height: 100%;
}

.proList img{
	width: 160px;
	height: 160px;
}
.proList h2{
	font-size: 13px;
	margin-top: 30px;
}
.proList h3{
	font-size: 12px;
	color: rgb(176, 176, 176);
	margin-top: 5px;
}
.proList h1{
	font-size: 22px;
	margin-bottom: 10px;
}
.proList li p{
	margin-top: 10px;
	font-size: 12px;
	color: orange;
}
.biaoy,.biaor,.biaog,.biaow{
	width: 60px;
	height: 20px;
	color: white;
	margin: 0 auto;
	font-size: 12px;
}
.biaoy{
	background: orange;
}
.biaor{
	background: #e53935;
}
.biaow{
	background: white;
}
.biaog{
	background: #83c44e;
}

/*搭配*/
.ding{
	height: 40px;
	
}
.ding li:hover{
	margin: 0;
	padding: 0;
	box-shadow:none;
}
.ding ul{
	float: right;
}
.ding ul a{
	margin-left: 10px;
	font-size: 18px;
}
.ding ul a:first-child{
	color: orange;
	border-bottom: 2px solid orange;
}
.fl{
	overflow: hidden;
	zoom: 1;
}
.fl > ul li{
	float: left;
	width: 234px;
	height: 300px;
	background: white;
	margin-left: 14px;
	margin-bottom: 14px;
}
.list-DP-l li,.list-PJ-l li,.list-ZB-l li{
	margin-left: 0px !important;
}
.list-DP-l img,.list-PJ-l img,.list-ZB-l img{
	width: 100%;
	height: 100%;
}
.list-DP-l,.list-PJ-l,.list-ZB-l{
	width: 234px;
	float: left;
}
.list-DP-r li,.list-PJ-l li,.list-ZB-r li{
	position: relative;
}
.fl .ban{
	height: 145px;
}
.fl .ban .wary{
	float: left;
	margin: 50px 0 0 20px;
}
.fl .ban img{
	width: 80px;
	height: 80px;
	margin-top: 30px;
}
.ban2 a{
	font-size: 25px;
}
.ban2 p{
	color: #B0B0B0;
}
.ban2 img{
	width: 50px !important;
	height: 50px !important;
	margin-top: 40px !important;
}
.cang{
	width: 174px;
	height: 75px;
	background: orange;
	font-size: 12px;
	padding: 10px 30px;
	text-align: center;
	position: absolute;
	bottom: 0;
}
.cang p{
	color: rgba(255,255,255,0.6) !important;
}
.list-DP-r li,.list-PJ-r li,.list-ZB-r li{
	float: left;
	width: 234px;
	height: 300px;
	background: white;
	margin-left: 14px;
	margin-bottom: 14px;
}
.pos li{
	position: relative;
}
.pos li .cang{
	position: absolute;
	bottom: 0;
	left: 0;
}

/*内容块*/
.smNr{
	width: 1226px;
	height: 420px;
	display: flex;
	justify-content: space-between;	
}
.nR{
    width: 1226px;
	height: 465px;
}
.nR h1{
	float: left;
}
.move{
	height: 420px;
	width: 296px;
	background: white;
	position: relative;
	padding: 25px 40px;
	box-sizing: border-box;
}
.move:first-child{
	border-top: 1px solid #ffac13;
}
.move:nth-child(2){
	border-top: 1px solid #83c44e;
}
.move:nth-child(3){
	border-top: 1px solid #e53935;
}
.move:last-child{
	border-top: 1px solid #2196f3;
}
.move h2{
	font-size: 16px;
	color: orange;
	margin: 25px auto 25px;
}
.move2 h2{
	color: #83c44e;
}
.move3 h2{
	color: #e53935;
}
.move4 h2{
	color: #2196f3;
}
.move a{
	font-size: 22px;
}
.move p{
	margin-top: 5px;
	font-size: 12px;
	color: #B0B0B0;
}
.move img{
	position: absolute;
	top:50%;
	left: 40px;
	width: 216px;
	height: auto;
}
.move .tuwen4 p{
	color: orange;
}
.move2 .tuwen4 p{
	color: #83c44e;
}
.move3 .tuwen4 p{
	color: #e53935;
}
.move4 .tuwen4 p{
	color: #2196f3;
}
.move .tuwen4 a{
	box-sizing: border-box;
	width: 120px;
	display: inline-block;
	height: 30px;
	color: orange;
	font-size: 12px !important;
	text-align: center;
	line-height: 30px;
	margin-top: 20px;
	border: 1px solid orange;
}
.move2 .tuwen4 a{
	border: 1px solid #83c44e;
	color: #83c44e;
}
.move3 .tuwen4 a{
	border: 1px solid #e53935;
	color: #e53935;
}
.move4 .tuwen4 a{
	border: 1px solid #2196f3;
	color: #2196f3;
}
.nRprev,.nRnext{
	cursor: pointer;
	width: 20px;
	height: 50px;
	font-size: 20px;
	background-color: black;
	opacity: 0.2;
	color: white;
	text-align: center;
	line-height: 50px;
	position: absolute;
	top: calc(50% - 25px);
	user-select: none;
}
.nRprev{
	left: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.nRnext{
	right: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.move ul{
	position: absolute;
	top: 90%;
	width: 120px;
	left: 86px;	
}
.move ul li{
	box-sizing: border-box;
	width: 10px;
	height: 10px;
	background: #B0B0B0;
	border-radius: 50%;
	margin: 0 10px;
	float: left;
	border: 2px solid white;
}
.move ul li:hover{
	margin-top: 0;
	padding: 0;
	box-shadow: none; 
    cursor: pointer;
}
.liYs{
	border:2px solid orange !important;
	background: white !important;
}
/*为你推荐*/
.recommend{
	width: 1226px;
	height: 350px;
	overflow: hidden;
	zoom: 1;
}
.recommend h1{
	float: left;
}
.tj{
	width: 1226px;
	height: 300px;
	display: flex;
	justify-content: space-between;
}
.tj img{
	width: 130px;
	height: 130px;
}
.tj div{
	box-sizing: border-box;
	padding: 50px 20px;
	width: 235px;
	background: white;
}
.tj div p{
	font-size: 12px;
	color: orange;
	margin-top: 10px;
}
.tj div:hover img{
	margin-top: -2px;
}
.hide1{
	display: none;
}
.tj section{
	position: relative;
}
.tjNext,.tjPrve{
    float: right;
    width: 35px;
    height: 20px;
    color: #b0b4bc;
    border: 1px solid #e0e0e0;
    text-align: center;
    line-height: 20px;
    margin-top: 5px;
}
.tjNext:hover,.tjPrve:hover{
	font-size: 20px;
	color: orange;
	cursor: pointer;
}

.comment h1{
	float: left;
}
.topComment{
	width: 1226px;
	height: 415px;
	display: flex;
	justify-content: space-between;
}
.topComment img{
	width: 100%;
	height: 220px;
}
.topComment > div{
	background: white;
	width: 296px;
	height: 415px;
}
.topComment > div:hover{
	margin-top: -2px;
	box-shadow: 0 0 20px rgb(170,170,170);
}
.topComment > div > div{
	box-sizing: border-box;
	width: 100%;
	height: calc(50% - 60px);
	padding: 0 40px 0 30px;
	position: relative;
}
.topComment h3{
	position: absolute;
	bottom: 30px;
}
.topComment p {
	position: absolute;
	bottom: 0;
	font-size: 14px;
}
.topComment p span{
	color: orange;
}

/*视频*/
.video{
	width: 1226px;
	height: 340px;
}
.video div:first-child{
	overflow: hidden;
	zoom: 1;
}
.video h1{
	float: left;
}
.video >div> a > div{
	display: inline;
	font-size: 20px;
}

.video >div > a{
	float: right;
	font-size: 18px;
}
.video >div > a:hover{
	color: orange;
}
.vid img{
	width: 296px;
	height: 180px;	
}
.vid img:hover{
	cursor: pointer;
}
.Vd{	
	display: flex;
	justify-content: space-between;
}
.vid{
    position: relative;	
	width: 295px;
	height: 285px;
	background: white;
}
.vid div{
	padding: 25px;
	font-size: 14px;
}
.vid div >a:hover{
	color: orange;
}
.vid div >p{
	font-size: 12px;
	margin-top: 10px;
	color: rgb(176, 176, 176);
}
.vid .iconfont{
	position: absolute;
	left: 0px;
	bottom: 110px;
	font-size: 30px;
	color: white;
}
.vid:hover .iconfont{
	color: orange;
}
.vid:hover{
	margin-top: -2px;
	box-shadow: 0 0 20px #b0b0b0;
}
.proList > div{
	margin-top: 20px;
}

/*页脚*/
footer{
	background: white;
}
footer > div{
	margin: 0 auto;
	width: 1226px;
	height: 460px;
}
footer .fw{
	width: 100%;
	/*height: 80px;*/
	padding: 29px 0;
	overflow: hidden;
	zoom: 1;
	border-bottom: 1px solid #e0e0e0;
}

.fw div{
	float: left;
	width: 244px;
	border-right: 1px solid #e0e0e0;
	text-align: center;
	font-size: 16px;
	color: rgb(97, 97, 97);
}
.fw div:hover{
	color: orange;
}
.fw .iconfont:before{
	font-size: 27px;
	margin-right: 5px;
}
.fw div:last-child{
	border-right:none
}
.navBox{
	width: 1226px;
	height: 192px;
}
.navBox-l{
	width: 974px;
	height: 192px;
	overflow: hidden;
	zoom: 1;
	float: left;
}
.navBox-l h4{
	margin: 42px 0 35px 0;	
}
.navBox-l a{
	color: rgb(117, 117, 117);
	margin-bottom: 8px;
}
.navBox-l h4,.navBox-l a{
	float: left;
	width: 160px;	
	font-size: 12px;
}
.navBox-r{
	width: 252px;
	float: right;
	padding-top: 40px;
	text-align: center;
}
.navBox-r p:first-child{
	color: orange;
	font-size: 16px;
}
.navBox-r div{
	font-size: 12px;
	width: 120px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border: 1px solid orange;
	margin: 0 auto;
	margin-top: 25px;
}
.navBox-r div a{
	color: orange;
}
.navBox-r div:hover{	
	background: orange;
}
.navBox-r div:hover a{
	color: #fff;
}
.staTxt{
	font-size: 12px;
	width: 875px;
	height: 55px;
	float: left;
}
.staTxt >img{
	float: left;
}
.staTxt > div{
	float: left;
	margin: 4px 0 0 10px;
}
.staTxt > div>a{
	color: rgb(97,97,97);
}
.staTxt > div>a:hover{
	color: orange;
}
.staTxt > div>span{
	color: rgb(179,179,179);
}
.staLogo{
	float: right;
	height: 55px;
}
.staLogo img{
	width: 84px;
	height: 28px;
}
#biaoYu{
	margin-top: 20px;
	width: 100%;
	font-size: 20px;
	color: #B0B0B0;
	text-align: center;
	height: 120px;
	line-height: 120px;
	font-family: "楷体";
}
